@charset "UTF-8";
html {
  font-size: 1rem;
  min-width: 0; }

body {
  width: 100%; }

li {
  list-style: none; }

a {
  text-decoration: none;
  font-size: 0; }

.clear {
  clear: both; }

ul, li {
  margin: 0;
  padding: 0; }

a, input {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0); }

.r {
  float: right; }

.l {
  float: left; }

/* back */
.back {
  position: absolute;
  top: .04rem;
  left: .2rem;
  height: .8rem;
  width: .8rem;
  background: url(../img/custom/arrow.png) no-repeat center;
  background-size: .2rem .36rem;
  z-index: 10; }
  .back a {
    display: block;
    height: 100%;
    width: 100%; }

/* nav */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 .44rem;
  width: 6.62rem;
  height: .88rem;
  z-index: 10;
  background: #fcf5eb;
  transition: transform .6s; }
  .nav div {
    float: left; }

.menu {
  height: .8rem;
  width: .8rem;
  margin-top: .04rem;
  margin-right: .41rem;
  background: url(../img/index/menu.png) no-repeat center;
  background-size: 50%; }

.search {
  width: 4.2rem;
  height: .62rem;
  margin-top: .13rem;
  margin-right: .41rem;
  background: url(../img/index/search.png) no-repeat center;
  background-size: 100% 100%;
  position: relative; }
  .search input {
    height: .5rem;
    width: 90%;
    background: transparent;
    position: absolute;
    left: 5%;
    top: .06rem;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    text-align: center;
    font-size: .22rem; }

.message {
  height: .8rem;
  width: .8rem;
  margin-top: .04rem;
  background: url(../img/index/message.png) no-repeat center;
  background-size: 58.75%; }

/* aside */
.aside {
  position: fixed;
  left: -5.9rem;
  top: 0;
  width: 5.3rem;
  height: 100%;
  padding-left: .6rem;
  background: url(../img/index/background.png) no-repeat center;
  background-size: contain;
  z-index: 20;
  transition: transform .6s; }
  .aside .head {
    width: 1.25rem;
    padding: .2rem .2rem .2rem 2.1rem;
    height: 1.6rem;
    margin-top: .78rem;
    background: url("../img/index/head portrait.png") no-repeat 0.2rem 0.2rem;
    background-size: 1.6rem 1.6rem;
    position: relative;
    margin-bottom: .6rem; }
    .aside .head header {
      font-size: .26rem;
      color: #333;
      padding-left: .08rem;
      margin-top: .52rem; }
    .aside .head img {
      width: 1.22rem;
      height: .4rem;
      position: absolute;
      bottom: .55rem;
      left: 2.1rem; }
  .aside .hidden {
    display: none;
    position: absolute;
    top: 0;
    right: -7.5rem;
    width: 7.5rem;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 12; }
  .aside .list {
    font-size: .32rem;
    color: #333; }
    .aside .list li {
      width: 1.6rem;
      padding-left: .4rem;
      text-align: left;
      line-height: .7rem;
      vertical-align: middle;
      margin-bottom: .4rem; }
      .aside .list li a {
        display: block;
        width: 100%;
        height: 100%;
        color: #333;
        font-size: .32rem; }
  .aside .bottom {
    height: .8rem;
    position: absolute;
    bottom: 1.44rem;
    left: .8rem; }
    .aside .bottom li {
      width: .67rem;
      height: .63rem;
      float: left; }
      .aside .bottom li img {
        width: 100%; }
    .aside .bottom .li1 {
      background: url(../img/index/settlement.png) no-repeat center;
      background-size: .56rem .47rem;
      margin-right: .89rem; }
    .aside .bottom .li2 {
      background: url(../img/index/night.png) no-repeat center;
      background-size: .56rem .47rem;
      margin-right: .89rem; }
    .aside .bottom .li3 {
      background: url(../img/index/code.png) no-repeat center;
      background-size: .56rem .47rem; }

/* fixedmenu */
.fixedmenu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  background: #fffcf8;
  z-index: 10;
  transition: transform .6s; }
  .fixedmenu ul {
    width: 100%; }
    .fixedmenu ul li {
      width: 1.25rem;
      float: left; }
    .fixedmenu ul .marginr {
      margin-right: .26rem; }
    .fixedmenu ul img {
      height: .8rem;
      width: .65rem;
      margin-top: .1rem;
      margin-left: .3rem; }
  .fixedmenu .large {
    width: 1.35rem; }

body {
  background: #fcf5eb; }

.mobiletop {
  background: #fcf5eb; }

/* top */
.top {
  line-height: 1rem;
  font-size: .34rem;
  text-align: center;
  padding: 0 .48rem;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  background: #fcf5eb;
  width: 87.2%;
  z-index: 10; }
  .top span {
    display: block;
    position: absolute;
    right: .48rem;
    top: 0;
    font-size: .3rem;
    font-weight: normal; }

/* items */
.items {
  width: 100%;
  margin: 1rem auto 0;
  overflow: hidden;
  padding-bottom: 2.3rem; }

/* goods */
.goods {
  width: 8.71rem; }

.movedelete {
  transform: translate(-1.2rem); }

.item {
  width: 8.71rem;
  height: 2.8rem;
  background: #fffcf8;
  margin-bottom: .19rem;
  -webkit-box-shadow: 0 0 0.13rem rgba(177, 148, 106, 0.25);
  -moz-box-shadow: 0 0 0.13rem rgba(177, 148, 106, 0.25);
  box-shadow: 0 0 0.13rem rgba(177, 148, 106, 0.25);
  transition: transform .2s; }
  .item .delete {
    float: left;
    width: 1.2rem;
    height: 100%;
    background: url(../img/bag/delete.png) no-repeat center;
    background-size: 100% 100%; }
  .item .check {
    width: 1rem;
    height: 2.8rem;
    float: left;
    position: relative; }
    .item .check span {
      display: block;
      width: .7rem;
      height: .7rem;
      position: absolute;
      top: 35%;
      left: .15rem;
      background: url(../img/bag/circle.png) no-repeat center;
      background-size: .28rem .28rem; }
    .item .check .click {
      background: url("../img/bag/circle choose.png") no-repeat center;
      background-size: .28rem .28rem; }
  .item .main-mes {
    height: 100%;
    float: left;
    width: 6.11rem;
    padding-right: .4rem;
    position: relative; }
    .item .main-mes img {
      float: left;
      width: 2.09rem;
      height: 2.59rem;
      margin-top: .11rem;
      margin-right: .2rem; }
    .item .main-mes .name {
      float: left;
      width: 3.8rem; }
    .item .main-mes header {
      width: 3.8rem;
      font-size: .26rem;
      margin: .44rem 0 .2rem -.12rem; }
      .item .main-mes header span {
        float: right;
        font-size: .24rem;
        color: #666; }
    .item .main-mes p {
      margin: 0;
      padding: 0; }
    .item .main-mes .cloth {
      font-size: .22rem;
      color: #666;
      margin-bottom: .1rem;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden; }
    .item .main-mes .mes {
      font-size: .2rem;
      color: #999;
      line-height: 1.3; }
  .item .tips {
    position: absolute;
    right: .4rem;
    bottom: .4rem;
    font-size: .36rem;
    color: #a31515; }

/* total */
.total {
  position: fixed;
  left: 0;
  bottom: 1rem;
  height: 1.3rem;
  width: 100%;
  border-top: 1px solid #e8e1d8;
  background: #fcf5eb;
  z-index: 10; }
  .total .click {
    background: url("../img/bag/circle choose.png") no-repeat center 37%;
    background-size: .28rem .28rem; }

.all-choose {
  float: left;
  width: 1rem;
  height: 100%;
  font-size: .2rem;
  background: url(../img/bag/circle.png) no-repeat center 37%;
  background-size: .28rem .28rem;
  position: relative; }
  .all-choose:after {
    content: "全选";
    position: absolute;
    top: 55%;
    left: 23%;
    font-size: .26rem;
    color: #333; }

.go {
  float: right;
  margin-top: .12rem;
  margin-left: .2rem;
  width: 2.4rem;
  height: 1.04rem;
  background: url(../img/bag/balance.png) no-repeat center;
  background-size: 100% 100%; }

.money {
  float: right;
  margin-top: .3rem; }
  .money p {
    margin: 0; }
  .money .all {
    font-size: .36rem;
    color: #333;
    text-align: right;
    margin-bottom: .05rem; }
    .money .all span {
      font-size: .38rem;
      color: #a31515;
      font-weight: bold; }
  .money .express {
    font-size: .22rem;
    text-align: right;
    color: #666; }

/*# sourceMappingURL=bag.css.map */
