html {
  font-size: 1rem;
  min-width: 0; }

body {
  width: 100%; }

li {
  list-style: none; }

a {
  text-decoration: none;
  font-size: 0; }

.clear {
  clear: both; }

ul, li {
  margin: 0;
  padding: 0; }

a, input {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0); }

.r {
  float: right; }

.l {
  float: left; }

/* back */
.back {
  position: absolute;
  top: .04rem;
  left: .2rem;
  height: .8rem;
  width: .8rem;
  background: url(../img/custom/arrow.png) no-repeat center;
  background-size: .2rem .36rem;
  z-index: 10; }
  .back a {
    display: block;
    height: 100%;
    width: 100%; }

/* nav */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 .44rem;
  width: 6.62rem;
  height: .88rem;
  z-index: 10;
  background: #fcf5eb;
  transition: transform .6s; }
  .nav div {
    float: left; }

.menu {
  height: .8rem;
  width: .8rem;
  margin-top: .04rem;
  margin-right: .41rem;
  background: url(../img/index/menu.png) no-repeat center;
  background-size: 50%; }

.search {
  width: 4.2rem;
  height: .62rem;
  margin-top: .13rem;
  margin-right: .41rem;
  background: url(../img/index/search.png) no-repeat center;
  background-size: 100% 100%;
  position: relative; }
  .search input {
    height: .5rem;
    width: 90%;
    background: transparent;
    position: absolute;
    left: 5%;
    top: .06rem;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    text-align: center;
    font-size: .22rem; }

.message {
  height: .8rem;
  width: .8rem;
  margin-top: .04rem;
  background: url(../img/index/message.png) no-repeat center;
  background-size: 58.75%; }

/* aside */
.aside {
  position: fixed;
  left: -5.9rem;
  top: 0;
  width: 5.3rem;
  height: 100%;
  padding-left: .6rem;
  background: url(../img/index/background.png) no-repeat center;
  background-size: contain;
  z-index: 20;
  transition: transform .6s; }
  .aside .head {
    width: 1.25rem;
    padding: .2rem .2rem .2rem 2.1rem;
    height: 1.6rem;
    margin-top: .78rem;
    background: url("../img/index/head portrait.png") no-repeat 0.2rem 0.2rem;
    background-size: 1.6rem 1.6rem;
    position: relative;
    margin-bottom: .6rem; }
    .aside .head header {
      font-size: .26rem;
      color: #333;
      padding-left: .08rem;
      margin-top: .52rem; }
    .aside .head img {
      width: 1.22rem;
      height: .4rem;
      position: absolute;
      bottom: .55rem;
      left: 2.1rem; }
  .aside .hidden {
    display: none;
    position: absolute;
    top: 0;
    right: -7.5rem;
    width: 7.5rem;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 12; }
  .aside .list {
    font-size: .32rem;
    color: #333; }
    .aside .list li {
      width: 1.6rem;
      padding-left: .4rem;
      text-align: left;
      line-height: .7rem;
      vertical-align: middle;
      margin-bottom: .4rem; }
      .aside .list li a {
        display: block;
        width: 100%;
        height: 100%;
        color: #333;
        font-size: .32rem; }
  .aside .bottom {
    height: .8rem;
    position: absolute;
    bottom: 1.44rem;
    left: .8rem; }
    .aside .bottom li {
      width: .67rem;
      height: .63rem;
      float: left; }
      .aside .bottom li img {
        width: 100%; }
    .aside .bottom .li1 {
      background: url(../img/index/settlement.png) no-repeat center;
      background-size: .56rem .47rem;
      margin-right: .89rem; }
    .aside .bottom .li2 {
      background: url(../img/index/night.png) no-repeat center;
      background-size: .56rem .47rem;
      margin-right: .89rem; }
    .aside .bottom .li3 {
      background: url(../img/index/code.png) no-repeat center;
      background-size: .56rem .47rem; }

/* fixedmenu */
.fixedmenu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  background: #fffcf8;
  z-index: 10;
  transition: transform .6s; }
  .fixedmenu ul {
    width: 100%; }
    .fixedmenu ul li {
      width: 1.25rem;
      float: left; }
    .fixedmenu ul .marginr {
      margin-right: .26rem; }
    .fixedmenu ul img {
      height: .8rem;
      width: .65rem;
      margin-top: .1rem;
      margin-left: .3rem; }
  .fixedmenu .large {
    width: 1.35rem; }

body {
  background: #fcf5eb; }

/* center */
.center {
  width: 100%;
  margin: .25rem auto 0;
  padding-bottom: 1.1rem; }
  .center header {
    font-weight: bold;
    margin-bottom: .5rem;
    color: #333;
    text-align: center;
    font-size: .36rem; }
  .center .thing {
    width: 100%;
    height: 1.3rem;
    margin-bottom: .9rem; }
    .center .thing img {
      width: 100%; }
  .center .text {
    width: 6.5rem;
    margin: 0 auto .2rem; }
    .center .text .logo {
      width: .92rem;
      height: .92rem; }
    .center .text .answer {
      width: 5.4rem; }
    .center .text .txt {
      width: 5.04rem;
      float: left;
      word-wrap: break-word;
      min-height: .7rem;
      font-size: .3rem;
      border-radius: 5%;
      background: #fffcf8;
      margin: 0;
      color: #333;
      padding: .25rem .18rem .25rem .18rem; }

/* input */
.input {
  width: 100%;
  height: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #f3f0f0; }
  .input button {
    outline: none;
    float: left;
    border: 0;
    height: 100%;
    padding: 0; }
  .input .call {
    width: .82rem;
    background: url(../img/service/call.png) no-repeat center;
    background-size: .56rem .56rem; }
  .input .ipt {
    float: left;
    height: 100%;
    width: 5.2rem;
    margin-right: .05rem; }
  .input #ipt {
    display: block;
    height: .68rem;
    outline: none;
    width: 5rem;
    font-size: .3rem;
    margin-top: .15rem;
    padding: 0 0 0 .2rem;
    border: 1px solid #888684;
    border-radius: .1rem; }
  .input .face {
    width: .64rem;
    background: url(../img/service/face.png) no-repeat center;
    background-size: .56rem .56rem; }
  .input .add {
    width: .78rem;
    background: url(../img/service/add.png) no-repeat center;
    background-size: .56rem .56rem; }

/*# sourceMappingURL=service.css.map */
